.logoTitle {
  width: 50px;
  height: 50px;
}

.searchInput::placeholder {
  color: white;
}

.minHeight {
  min-height: 60vh;
}

.bg-light-body {
  background-color: #f1f1f1 !important;
}
.bg-light-content {
  background-color: #86c1d4;
}

.text-dark-custom {
  color: #212529 !important;
}

.text-bg-light-custom {
  background-color: #f8f9fa !important;
  color: #212529 !important;
}
.card-light-theme {
  background-color: #d6ecf3;
  color: black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.white-btn {
  background-color: #f8f9fa;
  color: #212529;
  transition: none;
}

.transition {
  transition: none !important;
}
.searchInput.light {
  background-color: #f8f9fa;
  color: #212529;
  border: 1px solid #ced4da;
}

.searchInput.dark {
  background-color: #212529;
  color: #f8f9fa;
  border: none;
}
.searchBtn {
  transition: background-color 0.3s ease, border-bottom 0.3s ease,
    color 0.3s ease;
}

.searchInputFocus {
  background-color: #ffffff !important;
  color: #0d6efd !important;
  border: 1px solid #0d6efd !important;
  outline: none !important;
  box-shadow: 0 0 5px rgba(13, 110, 253, 0.4);
  transition: all 0.3s ease;
}
